@namespace Gizmo.Client.UI.SteamPayment.Module.Components
@using Gizmo.Web.Components
@using Microsoft.AspNetCore.Components.Forms
@inherits Gizmo.Web.Components.CustomDOMComponentBase

<div class="giz-user-online-deposit">
    <div class="giz-user-online-deposit__body">
        <EditForm EditContext="@SteamPaymentIntentViewService.EditContext">
            <div>
                <TextInput IsTransparent="true"
                           Size="InputSizes.Small"
                           IsFullWidth="true"
                           UpdateOnInput="true"
                           TValue="decimal?"
                           Value="@ViewState.Amount"
                           ValueChanged="@((value) => SteamPaymentIntentViewService.SetAmount(value))"
                           ValueExpression="@(() => ViewState.Amount)"
                           Label="@LocalizationService.GetString("GIZ_STEAM_PAYMENT_INTENT_AMOUNT")" />
            </div>
        </EditForm>
    </div>

    <div class="giz-user-online-deposit__footer">
        <Button IsDisabled="@(ViewState.Amount is null || ViewState.IsValid == false || ViewState.IsLoading)"
                Color="ButtonColors.Accent"
                Size="ButtonSizes.ExtraLarge"
                IsFullWidth="true"
                onclick="@OnClickPayHandler">
            <ChildContent>
                @if (ViewState.IsLoading)
                {
                    <Spinner />
                }
                else
                {
                    <div>@LocalizationService.GetString("GIZ_STEAM_PAYMENT_INTENT")</div>
                }
            </ChildContent>
        </Button>
    </div>
</div>